.sideimg {
    height: 550px;
    width: 500px;
    background: linear-gradient(#41054b, #BA68C8);
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

/* .login_container{
    height: 100%;
} */

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: -240px 0px;
    animation: backgroundcolr 5s linear infinite alternate;
    text-align: center;
}

@keyframes backgroundcolr {
    100% {
        background-position: 0px 0px;
    }
}

.login {
    width: 500px;
}

.signuphead {
    -webkit-text-stroke: 1px #41054b;
    color: #BA68C8;
}

.inputnumber::-webkit-outer-spin-button,
.inputnumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputnumber {
    -moz-appearance: textfield;
}

.signupbtn {
    background-color: #BA68C8;
    border-radius: 5PX;
    border: none;
    color: white;
    height: 35px;
    width: "60%";
    margin-bottom: "10px";
}

.login {
    border: 1px solid #0c0c0c;
    height: 550px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0px;
}

.error {
    font-size: 14px;
    color: rgb(212, 1, 1);
}

.singupinput {
    width: "60%";
    margin: 10px auto;
}

.signupspan {
    font-weight: bold;
    color: #BA68C8
}
.marigntop{
    margin-top: 90px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .sideimg{
        display: none;
    }
    .login{
    width: 400px;
    border-radius: 10px;
    padding-top: 40px;
     height: 500px;

  }
.marigntop{
    margin-top: 50px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
  .sideimg{
        display: none;
    }
    .login{
    width: 400px;
    border-radius: 10px;
    padding-top: 40px;
     height: 500px;

  }
.marigntop{
    margin-top: 50px;
}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
.marigntop{
    margin-top: 30px;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  
.marigntop{
    margin-top: 80px;
}
}